<!DOCTYPE html>
<html>
  <head>
    <title>infinitePx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.svg' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
    window.heroImg = "<%= image_url('flower.jpg') %>";
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
