<!DOCTYPE html>
<html>
  <head>
    <title>InfinitePx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.svg' %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
    window.splash0 = "<%= image_url('splash2.jpg') %>";
    window.splash1 = "<%= image_url('splash6.jpg') %>";
    window.github_logo = "<%= image_url('github_logo.png') %>";
    window.linkedin_logo = "<%= image_url('linkedin_logo.png') %>";
    window.angellist_logo = "<%= image_url('angellist_logo.png') %>";
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
